djanghappy/birthday/__pycache__/__init__.cpython-38.pyc
djanghappy/birthday/__pycache__/urls.cpython-38.pyc
djanghappy/birthday/__pycache__/views.cpython-38.pyc
djanghappy/djanghappy/__pycache__/__init__.cpython-38.pyc
djanghappy/djanghappy/__pycache__/settings.cpython-38.pyc
djanghappy/djanghappy/__pycache__/urls.cpython-38.pyc
djanghappy/djanghappy/__pycache__/wsgi.cpython-38.pyc
djanghappy/mainapp/__pycache__/__init__.cpython-38.pyc
djanghappy/mainapp/__pycache__/views.cpython-38.pyc
/.idea